/*
Copyright 2014, Daniel Beck and Karin Beck

This file is part of Green Mahjong.

Green Mahjong is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Green Mahjong is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Green Mahjong.  If not, see <http://www.gnu.org/licenses/>.
*/
    
/*
Groß: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/

/*#game {
  width: 530px;
  height: 380px;
}*/
div.game-buttons  ul li {
    padding: 0;
}
#cards {
  width: 480px;
  height: 380px;
}

#cards[data-layout=flower] {
  width: 415px;
  height: 370px;
}

#cards[data-layout=spider] {
  width: 530px;
  height: 380px;
}

#cards[data-layout=cloud] {
  width: 520px;
  height: 300px;
}


#cards[data-layout=fourHills] {
  height: 420px;
  width: 470px;
}

.card {
    border-radius: 5px;
    height: 34px;
    width: 27px;
    background: transparent url('../images/mahjong_verysmallscreen_coco.png');
}


.shadow {
    height: 36px;
    width: 29px;
    background: transparent url('../images/shadow_verysmallscreen.png');
}


#gameScene{
  position: absolute;
  left:30px;
  top:32px;
}

/*#game {
  position: relative;
}*/

.cardZahl1 {background-position: 0 0}
.cardZahl2 {background-position: -27px 0; }
.cardZahl3 {background-position: -53px 0;}
.cardZahl4 {background-position: -80px 0;}
.cardZahl5 {background-position: -107px 0;}
.cardZahl6 {background-position: -133px 0;}
.cardZahl7 {background-position: -160px 0;}
.cardZahl8 {background-position: -187px 0;}
.cardZahl9 {background-position: -213px 0;}

.cardBambus1 {background-position: -0 -33px;}
.cardBambus2 {background-position: -27px -33px;}
.cardBambus3 {background-position: -53px -33px;}
.cardBambus4 {background-position: -80px  -33px;}
.cardBambus5 {background-position: -107px -33px;}
.cardBambus6 {background-position: -133px -33px;}
.cardBambus7 {background-position: -160px -33px;}
.cardBambus8 {background-position: -187px -33px;}
.cardBambus9 {background-position: -213px -33px;}

.cardMuenze1 {background-position: -0 -67px;}
.cardMuenze2 {background-position: -27px -67px;}
.cardMuenze3 {background-position: -53px -67px;}
.cardMuenze4 {background-position: -80px -67px;}
.cardMuenze5 {background-position: -107px -67px;}
.cardMuenze6 {background-position: -133px -67px;}
.cardMuenze7 {background-position: -160px -67px;}
.cardMuenze8 {background-position: -187px -67px;}
.cardMuenze9 {background-position: -213px -67px;}

.cardNordwind {background-position: -240px 0;}
.cardSuedwind {background-position: -266px  0;}
.cardOstwind {background-position: -293px 0;}
.cardWestwind {background-position: -320px 0;}

.cardFruehling {background-position: -240px -33px;}
.cardSommer {background-position: -266px -33px;}
.cardHerbst {background-position: -293px -33px;}
.cardWinter {background-position: -320px -33px;}

.cardBambus {background-position: -240px -67px;}
.cardPflaume {background-position: -266px -67px;}
.cardOrchidee {background-position: -293px -67px;}
.cardChrysantheme {background-position: -320px -67px;}

.cardDracheGruen {background-position: -347px 0;}
.cardDracheRot {background-position: -347px -33px;}
.cardDracheWeiss {background-position: -347px -67px;}


.image {
    /*border-radius: 15px;*/
    height: 19px;
    width: 20px;
    border: none;
    /*background: transparent url('../images/mahjong_bigscreen.png');*/
    background-color: transparent;
    background-image:  url('../images/application_icons_small.png');
}


.menu {background-position: 0 0}
.undo {background-position: -60px 0}
.new {background-position: -80px 0}
.hint {background-position: -100px 0}
.theme {background-position: -120px 0}