page-video-tutorials {

}

div.video-container {
  width: 100%;
  text-align: center;
  margin: 50px;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
}

div.video-container a {
  font-size: 2em;
}
